#cover{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background-color:var(--ui_green);
    z-index:2;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    transition:top 500ms ease;
}
#header__cover h1{
    font-size:8vh;
    line-height:8vh;
}
#header__cover>header>p{
    color:var(--ui_grey);
    font-size:16px;
    line-height:18px;
}
#profile__cover{
    width:20vh;
    height:20vh;
    border-radius:50%;
    overflow:hidden;
}
#profile__cover>img{
    width:100%;
    height:100%;
}
#self-intro__cover{
    max-width:70vw;
    text-align:center;
    margin-bottom:5vh;
    margin-top:2vh;
}
#self-intro__cover p{
    color:var(--ui_grey);
    margin:0;
}
#external-links__cover{
    width:50%;
}
#external-links__cover>ul{
    display:flex;
    width:100%;
    justify-content:space-between;
}
#external-links__cover>ul>li{
    display:inline;
}
#external-links__cover>ul svg{
    width:5vh;
    height:5vh;
}
#enter-blog{
    margin-top:5vh;
    height:4vh;
    min-width:20vw;
    border:none;
    border-top:2px solid var(--ui_grey);
    border-bottom:2px solid var(--ui_grey);
    color:var(--ui_grey);
    cursor:pointer;
    font-size:2vh;
    font-weight:bold;
    text-decoration:none;
    background-color:transparent;
}
#enter-blog::-moz-focus-inner{
    border:none;
    border-top:2px solid var(--ui_grey);
    border-bottom:2px solid var(--ui_grey);
}
#enter-blog:hover{
    border-top:2px solid var(--ui_bgyellow);
    border-bottom:2px solid var(--ui_bgyellow);
    color:var(--ui_bgyellow);
}
@media only screen and (max-width:640px){
    #header__cover{
        display:none;
    } 
}
