---
---

footer{
    position:fixed;
    width:100%;
    height:6vh;
    bottom:-3vh;
    background:var(--ui_green);
    transition:transform .5s ease;
} 
footer.hover:hover{
    transform:translateY(-3vh);
}
div.footer-text{
    position:absolute;
    top:0;
    width:100%;
    text-align:center;
}
.footer-text p{
    color:var(--ui_bgyellow);
    text-decoration:none;
    font-size:2vh;
    line-height:3vh;
    margin:0;
}
.footer-text span,
.footer-text a{
    color:var(--ui_bgyellow);
    text-decoration:underline;
}
