.header-container{
    position:fixed;
    top:0px;
    width:100%;
    height:130px;
    z-index:1;
    background:var(--ui_bgyellow);
}
.header-container.relative{
    position:relative;
}
header{
    max-width:400px;
    margin:auto;
    padding-top:20px;
    box-sizing:border-box;
    text-align:center;
}
header h1{
    color:var(--ui_grey);
    font-family:teko-light;
    margin:0;
    background-color:transparent;
}
header p{
    color:var(--ui_smoke);
    font-size:1rem;
    line-height:1.2rem;
    margin:0;
}
