---
---

/* special class setting */
.hidden {
    display:none;
}
.overflow_hidden{
    overflow:hidden;
}
body.overflow_hidden{
    position:relative;
}
.left-bar{
    width:200px;
    margin-left:50px;
    height:82vh;
    position:fixed;
    top:150px;
}
.center-content{
    position:absolute;
    box-sizing:border-box;
    padding-top:calc( (100% - 230px) * .1);
    padding-left:calc( (100vw - 450px) * .1);
    padding-right:calc( (100vw - 450px) * .1);
    width:calc(100vw - 450px);
    margin-left:250px;
}
.left-bar.absolute{
    position:absolute;
    top:0;
}
ul.no-point{
    list-style-type:none;
}
/* for index.html */
.deer-container{
    position:fixed;
    right:200px;
    bottom:100px;
    width:32vh;
    height:37vh;
    max-width:32vw;
    max-height:37vw;
    --arr_size:2vh;
}
.scrollPage-container{
    position:absolute;
    left:0;
    height:82vh;
    width:calc(100vw - 200px);
    overflow:hidden;
}
.text-container{
    position:relative;
    width:100%;
    height:82vh;
}
.post-excerpt{
    color:var(--ui_smoke);
    position:relative;
    width:calc(100% - 20vh);
    font-size:2.5vh;
    margin-top:1em;
}
/* for post layout */
.post-content-container{
    padding-bottom:200px;
}
.deer-container.hide-aside{
    right:0;
    transform:rotate(-20deg) translateX(70%);
}
.post-content-container p:first-of-type{
    color:var(--ui_smoke);
}
/* for tag index page */
.deer-container.stand-center{
    left:50vw;
    bottom:0;
    transform:translateX(-50%);
}
.tag-nav{
    width:100%;
    position:absolute;
    top:5%;
}
.tag-index .center-content{
    width:calc(100vw - 500px);
    height:40vh;
    overflow:hidden;
    padding:0;
}
.tag-item-container{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    transition:all 500ms ease-out;
}
.tag-item{
    position:absolute;
    top:0;
    width:calc(100vw - 500px);
    height:100%;
    box-sizing:border-box;
    padding-left:40px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.tag-item .item-tag-title{
    color:var(--ui_green);
    font-family:teko-regular;
    font-size:48px;
    text-transform:uppercase;
}
.tag-item ul{
    /* try */
    overflow:auto;
}
.tag-item a{
    text-decoration:none;
    font-size:16px;
}
/* for screen that width is less than 1000px */
@media only screen and (max-width:1000px){
    .scrollPage-container{
        width:100vw;
    }
    .deer-container{
        right:0;
    }
    .tag-index .center-content{
        width:calc(100vw - 300px);
    }
    .tag-item{
        width:calc(100vw - 300px);
        justify-content:left;
    }
}
@media only screen and (max-width:640px){
    .left-bar,
    .left-bar.absolute{
        display:none;
    }
    .center-content{
        width:100vw;
        padding:0 16px 200px 16px;
        margin-left:0;
    }
    .center-content .post-info-container__mobile{
        position:relative;
        top:16px;
    }
    .post-excerpt{
        display:none;
    }
    .tag-index .center-content{
        width:100vw;
    }
    .tag-item{
        width:100vw;
        justify-content:center;
    }
}
