.post-info{
    height:100%;
    width:100%;
    overflow:hidden;
    position:relative;
}
.post-info>*{
    margin:0;
    position:absolute;
}
.post-info .post-date{
    top:0;
    color:var(--ui_green);
    font-family:teko-light;
    font-size:3vh;
}
.post-info .post-tag{
    bottom:20%;
    color:var(--ui_grey);
}
ul.post-tag li{
    overflow:hidden;
}
.post-tag a{
    font-family:teko-regular;
    text-transform:uppercase;
    text-decoration:none;
    color:var(--ui_grey);
    font-size:4vh;
    line-height:4vh;
}
.post-info a.read-more{
    position:absolute;
    bottom:0;
    color:var(--ui_green);
    font-family:teko-light;
    font-size:3vh;
    text-decoration:underline;
    line-height:4vh;
}
