.post-title{
    height:100%;
    overflow:hidden;
}
.post-title h2{
    font-size:8vh;
    position:absolute;
    top:15%;
    margin-left:10%;
    text-transform:uppercase;
}
.post-title h2:nth-child(2){
    height:8vh;
    overflow:hidden;
    color:var(--ui_red);
    background:var(--ui_bgyellow);
}
