.post-title{
    position:relative;
    top:10%;
    margin-left:10%;
}
.post-title h2{
    font-family:teko-regular;
    font-size:7vh;
    line-height:7vh;
    text-transform:uppercase;
    transform-origin:top left;
}
.post-title h2:nth-child(2){
    position:absolute;
    top:0;
    color:var(--ui_red);
    background:var(--ui_bgyellow);
}
.post-excerpt{
    color:var(--ui_smoke);
    position:relative;
    width:calc(100% - 32vh);
    font-size:2.5vh;
    margin-top:1em;
}
