---
---

.post-info{
    height:100%;
    width:100%;
    overflow:hidden;
    position:relative;
    top:0;
}
.post-info>*{
    margin:0;
    position:absolute;
}
.post-info .post-date{
    /* top:5px; */
    color:var(--ui_green);
    font-family:teko-light;
    font-size:32px;
}
.post-info .post-tag{
    bottom:20%;
    color:var(--ui_grey);
}
ul.post-tag li{
    overflow:hidden;
}
.post-tag a{
    font-family:teko-regular;
    text-transform:uppercase;
    text-decoration:none;
    color:var(--ui_grey);
    font-size:48px;
    line-height:48px;
}
.post-info a.read-more{
    position:absolute;
    bottom:60px;
    color:var(--ui_green);
    font-family:teko-light;
    font-size:32px;
    text-decoration:underline;
}
/* for post-info-container__mobile */
.post-info-container__mobile{
    display:none;
}
.post-info-container__mobile .post-info{
    height:auto;
    width:calc(100% - 20vh);
}
main .post-info-container__mobile .post-info *{
    position:relative;
    font-family:teko-light;
    font-size:24px;
    margin-right:12px;
}
.post-info-container__mobile .post-info .post-tag *{
    margin-right:0;
}
.post-info-container__mobile ul.post-tag li{
    display:inline; 
}
.post-info-container__mobile .post-info a.read-more{
    font-size:24px;
    position:relative;
    bottom:0px;
}
@media only screen and (max-width:640px){
    .post-info-container__mobile{
        display:block;
    }
}
