---
---

.all-pages{
    position:relative;
    top:0;
    width:100%;
    transition:all 800ms ease;
}
.page{
    /* height set by js */
    width:100%;
}
.text-container{
    overflow:hidden;
}
.text-container .post-title{
    transition:transform 800ms ease-in;
    transform-origin:30% 50%;
    transform:scale(0);
}
.text-container.in-sight .post-title{
    transform:scale(1);
}
.page-map-container{
    position:absolute;
    top:50%;
    left:-20px;
    transform:translateY(-50%);
}
.page-map{
    position:relative;
    width:40px;
    /* height set by js */
    right:0;
    cursor:pointer;
    margin:0;
}
.page-map span{
    display:block;
    position:absolute;
    right:20px;
    width:1px;
    height:100%;
    background:var(--ui_green);
    transition:all 800ms ease-in-out;
    margin: auto;
}
.page-map:hover span{
    background:var(--ui_smoke);
    width:15px;
}
.page-map.map-active span{
    background:var(--ui_green);
    width:10px;
}
