---
layout: default
---
<div class="scrollPage-container">
    <div id="main-post-list" class="all-pages">
        {% for post in site.posts %}
        <section class="page">
            <div class="text-container">
                <div class="post-info-container">
                {% include post-info.html %}
                </div>
                <div class="post-intro-container">
                {% include post-title.html %}
                </div>
            </div>
        </section>
        {% endfor %}
    </div>
</div>
