<div id="cover">
    <div id="header__cover">
        {% include header.html %} 
    </div>
    <div id="profile__cover">
        <img src="assets/images/deer-head.jpg">
    </div>
    <div id="self-intro__cover">
        <p>Hello, welcome to my blog! I'm Juuggo, a beginner of front-end development.</p>
        <p>I'm seeking for a front-end developer job in Guangzhou / Shenzhen, China. You can find my projects, resume and contact information from the link below. If you are interested in hiring me, please do contact me.</p>
    </div>
    <div id="external-links__cover">
        {% include external-links.html %}
    </div>
    <button id="enter-blog">Enter Blog</button>
</div>
