<div class="deer-container {% if page.layout == 'tag' %}stand-center{% elsif page.layout == 'post' %}hide-aside{% elsif page.url == '/contact.html' %}hide-bottom{% endif %}">
    <div id="arrsleft" class="hover_arrsleft hover {% if page.layout != 'tag' %}hidden{% endif %}">
        <p id="arrleft1"></p>
        <p id="arrleft2"></p>
        <button type="button" id="leftbtn"></button>
    </div>
    <div id="arrsright" class="hover_arrsright hover {% if page.layout != 'tag' %}hidden{% endif %}">
        <p id="arrright1"></p>
        <p id="arrright2"></p>
        <button type="button" id="rightbtn"></button>
    </div>

    <div id="deer">
        <div id="head">
            <div id="ear"><p></p></div>
            <div id="horn_left"><p></p></div>
            <div id="horn_right"><p></p></div>
            <div id="face"><p></p></div>
            <div id="nose"><p></p><p></p></div>
        </div>
        <div id=body>
            <div id="foots"><p id="rfoot"></p><p id="lfoot"></p></div>
            <p id="main_body"></p>
            <p id="stomoch"></p>
            <div id="hands"><p id="rhand"></p><p id="lhand"></p></div>
        </div>
    </div>

    <div id="arrsdown" class="hover_arrsdown hover {% if page.layout != 'default' %}hidden{% endif %}">
        <p id="arrdown1"></p>
        <p id="arrdown2"></p>
        <button type="button" id="walkbtn"></button>
    </div>
</div>
