<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="preload" href="/assets/fonts/teko-regular.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/assets/fonts/teko-light.ttf" as="font" type="font/ttf" crossorigin>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend:site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | prepend:site.baseurl }}">
</head>
