<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include header.html %}
    <main>
        {{ content }}
    </main>
    {% include navigation.html %}
    {% include deer.html %}
    {% include footer.html %}

    {% if page.url == "/" %}
    <script type="text/javascript" src="/js/ScrollPage.js"></script>
    {% endif %}
    {% if page.url == "/tag-index.html" %}
    <script type="text/javascript" src="/js/tagIndex.js"></script>
    {% endif %}
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/helper.js"></script>
    <script type="text/javascript" src="/js/deer.js"></script>
    <script type="text/javascript" src="/js/navigation.js"></script>
</body>
</html>
