<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include header.html %}
    <main>
        {{ content }}
    </main>
    {% include navigation.html %}
    {% include deer.html %}
    {% include footer.html %}
    <script type="text/javascript" src="/js/footer.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/helper.js"></script>
    <script type="text/javascript" src="/js/ScrollPage.js"></script>
    <script type="text/javascript" src="/js/deer.js"></script>
</body>
</html>
